body {
    max-width: 950px;
}
#feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    flex-wrap: wrap;
    gap: 0.5em;
    margin: auto;
}
.video {
    background-color: var(--surface-0);
    border-radius: 0.5em;
    overflow: hidden;
    transition: transform 0.2s;
    position: relative;
}
.video:hover {
    transform: scale(1.02);
    background-color: var(--surface-1);
    color: inherit;
}
.video a {
    text-decoration: none;
    border: 0;
    color: inherit;
}
.video a:hover {
    outline: 0;
    background-color: inherit;
}
.video .live {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    background-color: var(--red);
    color: var(--base);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}
.video img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.video h3 {
    font-size: 1em;
    margin: 0.5em;
}
.video p {
    font-size: 1em;
    margin: 0.5em;
    color: var(--text);
    display: inline-flex;
    justify-content: space-between;
    width: calc(100% - 1em);
}
