:root {
    /* https://catppuccin.com/palette/#flavor-latte */

    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #8839ef;
    --red: #d20f39;
    --peach: #fe640e;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #7287fd;
    --text: #4c4f69;
    --subtext-1: #5c5f77;
    --subtext-0: #6c6f85;
    --overlay-2: #7c7f93;
    --overlay-1: #8c8fa1;
    --overlay-0: #9ca0b0;
    --surface-2: #acb0be;
    --surface-1: #bcc0cc;
    --surface-0: #ccd0da;
    --base: #eff1f5;
    --mantle: #e6e9ef;
    --crust: #dce0e8;

    --font-mono: 'JetBrains Mono', 'SF Mono', 'Roboto Mono', 'Cascadia Code', monospace;
}

textarea,
input {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
}

body {
    font-family: Inter, sans-serif;
    max-width: 750px;
    margin: 0 auto;
    padding: 30px 10px;
    font-size: 1.1em;
    background-color: var(--base);
    color: var(--text);
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: var(--font-mono);
    line-height: 1.2;
}

ul {
    padding-inline-start: 1em;

    > li {
        list-style: '- ';
    }
}

*::selection {
    background-color: var(--text);
    color: var(--base);
}

a.big {
    padding: 0.1em;
    font-weight: bold;
    margin: 0 0.2em;

    &:first-of-type {
        margin-left: 0;
    }
}

a {
    --color: var(--blue);
    color: var(--color);

    &:hover {
        background-color: var(--color);
        color: var(--base);
        outline: 2px solid var(--color);
    }

    &:focus {
        outline: 2px solid var(--color);
        text-decoration: none;
    }
}

label {
    display: block;
    padding: 0.3em 0;

    > * {
        display: block;
    }
}
