@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');
@import url('https://fonts.cdnfonts.com/css/restless-soul-bb');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

/* =========== */
/* Login stuff */
/* =========== */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

.account-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 5px 10px;
}

.account-settings {
    display: flex;
    flex-direction: column;
    /* float: right; */
    align-items: flex-end;
    margin-top: 10px;
    flex-shrink: 0;
}

.account-settings > label {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    /* border: 1px solid var(--best-colour); */
    cursor: pointer;
    /* padding: 0px 0px 0px 5px; */
    /* color: var(--best-colour); */
    /* accent-color: var(--best-colour); */
}

.account-settings > label > input[type='checkbox'] {
    cursor: pointer;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

#feed-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px;
}

#refresh-sign {
    color: var(--best-colour);
    cursor: pointer;
    user-select: none;
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    float: right;
    flex-shrink: 0;
}

#refresh-sign:hover {
    background-color: var(--best-colour);
    color: var(--shade-3);
    outline: 2px solid var(--best-colour);
}

.post-title {
    all: unset;
}

.user-actions {
    margin-top: 5px;
    display: inline-block;
}

.actions {
    display: inline-block;
}

.action-button {
    background-color: var(--stone-300);
    text-shadow: var(--stone-600) 0 0 0.1em;
    text-align: center;
    border: 1px solid var(--stone-200);
    border-radius: 0.2em;
    margin: 0 0.2em;
    font-size: 1em;
}

.at {
    font-weight: bold;
    text-decoration: none;
    color: var(--stone-950);
    font-family: var(--font-mono);
}

.at:hover {
    background-image: none;
    background-color: var(--stone-950);
    color: var(--stone-050);
    outline-color: var(--stone-950);
    background-clip: unset;
    -webkit-text-fill-color: unset;
}

.untarget :target {
    outline-color: transparent;
}

#gif-dialog {
    background-color: var(--stone-300);
    color: white;
}

#gif-dialog header {
    align-items: baseline;
    display: flex;
    margin-bottom: 4px;
}

#gif-dialog .close-button {
    margin-left: auto;
}