@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');

    content: 'Blåhaj Collector';
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #c5a4ed, #a4a5ed 100%) 1;
    padding: 0.1em 0.2em;
    margin: 0.35em;
    font-size: 0.6em;
    position: relative;
    top: -0.25em;
    font-weight: normal;
    background: linear-gradient(to right, #c5a4ed, #a4a5ed 100%);
    background-clip: text;
}


.at-lord.cat\@todepond\.com::after, .at-lordcat\@svenlaa\.com::after {
    all: unset;
}


/* ======= */
/* Svenlaa */
/* ======= */
.name-Svenlaa\@todepond\.com {
    background: linear-gradient(to right, var(--yellow), var(--green) 200%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'JetBrains Mono', sans-serif;
}


.name-Svenlaa\@svenlaa\.com {
    color: var(--green);
    font-family: 'JetBrains Mono', sans-serif;
}


/* ========== */
/* HatsuSixty */
/* ========== */
.name-HatsuSixty\@todepond\.com {
    background: linear-gradient(to right, var(--pink), var(--purple) 200%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* ======== */
/* hivemind */
/* ======== */
.name-hivemind\@todepond\.com {
    background: linear-gradient(180deg, rgb(248 22 22) 20%, rgb(200 66 36) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Restless Soul BB', sans-serif;
    font-size: 1.2em;
}


/* =========== */
/* HatsuneMiku */
/* =========== */
.name-HatsuneMiku\@todepond\.com {
    background: linear-gradient(to right, #87e5cf, #47c8c0 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* ======== */
/* TodePond */
/* ======== */
.name-TodePond\@todepond\.com {
    color: var(--green);
}


.name-TodePond\@todepond\.com::after {
    content: 'ADMIN';
    border: 1px solid var(--green);
    padding: 0.1em 0.2em;
    margin: 0.35em;
    font-size: 0.6em;
    top: -0.25em;
    position: relative;
    font-weight: normal;
}


.at-TodePond\@todepond\.com.name-TodePond\@todepond\.com:hover::after {

